<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script
                src="https://code.jquery.com/jquery-3.2.1.slim.js"
                integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js" type="text/javascript"></script>
    </head>
    <body>
    <ul>
        <li class="current first">
            <a href="/app_dev.php/jugadores/new">Nuevo Jugador</a>
        </li>
        <li class="current_ancestor">
            <a href="/app_dev.php/club?id=42">Listar equipos</a>
        </li>
        <li class="current first last">
            <a href="/app_dev.php/club/new">Nuevo Equipo</a>
        </li>

    </ul>
        {% block body %}

        {% endblock %}
        {% block javascripts %}
            <script>
                jQuery('#laligabundle_club_telefono').mask("999-99-99-99");
            </script>
        {% endblock %}
    </body>
</html>
