{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jugadores list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for jugadore in jugadores %}
            <tr>
                <td><a href="{{ path('jugadores_show', { 'id': jugadore.id }) }}">{{ jugadore.id }}</a></td>
                <td>{{ jugadore.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('jugadores_show', { 'id': jugadore.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('jugadores_edit', { 'id': jugadore.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('jugadores_new') }}">Create a new jugadore</a>
        </li>
    </ul>
{% endblock %}
